ol{
    background-color: yellow;
}

ol li:nth-child(even){
    color: green;
}

ol li:nth-child(odd){
    text-transform: lowercase;
}

h1, h3{
    color: red;
}

h1, h3 em{
    font-size: 30px;
    border: 1px solid black;
}

li{
    font-size: 20px;
}

li em{
    font-weight: 800;
}

ul:first-of-type li:nth-child(-n+3){
    color: blue;
}

.java {
    background-color: pink;
}

.aliados li a:hover{
    font-weight: 800;
}

.aliados li a[href*="stack"]{
    color: orange;
} 

.aliados li a[href*="w3"]{
    color: green;
} 

.aliados li a[href*="mozilla"]{
    color: black;
} 

.aliados li a[href*="docs"]{
    color: yellow;
} 

.aliados li a[href*="trybe"]{
    color: green;
} 