@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.header {
  background-color: rgb(70, 70, 70);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 520px;
}

.text {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;
}

.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 550px;
}

.images div {
  background-color: rgb(218, 218, 218);
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.footer {
  display: flex;
  justify-content: center;

}