body{
    background-color: #219ebc;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #fff;
}

h3 {
    text-align: center;
    color: white;
}

p {
    color: white;
}

#foto {
    display:block;
    margin: 0 auto;
    border-radius: 50%;
}

.hab-itens ul {
    display:table; 
    margin: 0 auto;
    color: white;
}

.menu ul {
    padding:0px;
    margin: 0px;        
    list-style:none;
    text-align: center;
    text-decoration: none;
}

.menu ul li {
    display:inline;
}

.menu ul li a {
    color: white;
    text-decoration: none;
}