*{
    margin: 0;
}

body{
    background-color: #023047;
    
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #fff;
    margin-top: 50px;
}

h3 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: white;
    margin-top: 50px;
}

p {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    margin-top: 50px;
}

#foto {
    display:block;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #219ebc;
    padding: 5px;
    margin-top: 50px;
}

.hab-itens ul {
    display:table; 
    margin: 0 auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.menu ul {
    margin: 0 auto;      
    list-style:none;
    overflow: hidden;
    background-color: #fb8500;
}

.menu ul li {   
    float: left;
    text-align: center;   
}

li a {
    display: block;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 14px 16px; 
    text-align: center;
}

li a:hover {
    background-color: #ffb703; 
}
