h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#foto {
    display:block;
    margin: 0 auto;
    border-radius: 50%;
}

.menu ul {
    padding:0px;
    margin: 0px;        
    list-style:none;
    text-align: center;
    text-decoration: none;
}

.menu ul li {
    display:inline;
}